#listeProduits img{
    object-fit: cover;
    height: 50%;
    width: 50%;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 15px;
}

#listeProduits div{
    padding: 15px;
    margin: 15px 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 5px 13px lightgray ;
    font-size: 1.5em;
}

#produits img {
    object-fit: cover;
    height: 70%;
    width: 70%;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 15px;
}

#produits button {
    margin: 10px;
}

#produits div {
    padding: 30px;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
}

#listePanier table {
    border: 1px solid lightgrey;
    border-radius: 15px;
}

#listePanier {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 8px 5px 13px lightgray;
}

#confirmCommand {
    margin: 30px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer a {
    color: white;
}

@media (max-width: 700px) {
    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 40px;
    }

    .table td {
        display: block;
        text-align: right;
    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}